.st0{fill:url(#Rectángulo_23_1_);}
                .st1{fill:#F2F1F0;}
                .st2{enable-background:new    ;}
                .st3{fill:url(#Rectángulo_23-2_1_);}
                .st4{fill:none;stroke:#F2F1F0;stroke-width:0.13;stroke-miterlimit:10;}
                .st5{fill:url(#Rectángulo_23-3_1_);}
                .st6{fill:url(#Rectángulo_23-4_1_);}
                .st7{fill:url(#Rectángulo_23-5_1_);}
                .st8{fill:url(#Rectángulo_23-6_1_);}
                .st9{fill:#6F6F77;}